.main-menu-khoa {
  color: white;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-khoa .search {
  background-color: #274c77;
  display: inline-block;
  padding: 1.5rem;
  width: 50%;
  text-align: left;
  border-radius: 4rem;
  position: relative;
}

.main-menu-khoa .search .search-icon {
  font-size: 1rem;
  margin: 0 2rem;
  cursor: pointer;
}

.main-menu-khoa .search .input {
  background-color: #274c77;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 50%;
}

.main-menu-khoa .sign {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.main-menu-khoa .sign .sign-item {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2rem;
  color: white;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 4rem;
  text-decoration: none;
  width: 50%;
  background-color: #274c77;
}

.main-menu-khoa .sign .sign-item:hover {
  color: #fff;
  background-color: #0096c7;
  cursor: pointer;
}

.main-menu-khoa .user-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-menu-khoa .user-name {
  margin-left: 1rem;
}

.main-menu-khoa .sign .user-info .friend-loggin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 3rem;
  margin-right: 20px;
}

.main-menu-khoa .sign .user-info .friend-list-name {
  font-size: 20px;
}

.main-menu-khoa .sign .user-info .friend-list-img {
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}

.popup-chat {
  display: none;
  width: 50px;
  height: 50px;
}

@media (max-width: 790px) {
  .main-khoa {
      font-size: 10px;
  }
  .main-menu-khoa .sign .sign-item {
    width: 45%;
    height: 5.7rem;
    text-align: center;
    font-size: 10px;
    padding: 1.5rem;
  }
  .main-menu-khoa .sign {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
  }

  .main-menu-khoa .search {
    background-color: #274c77;
    display: inline-block;
    padding: 1.5rem;
    width: 39%;
    text-align: left;
    border-radius: 4rem;
    position: relative;
  }

  .main-menu-khoa .popup-chat {
    display: inline-block;
    width: 23%;
    height: 5.7rem;
    background-color: #274c77;
    padding: 1.9rem;
    text-align: left;
    border-radius: 4rem;
    position: relative;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
  }

  .main-menu-khoa .popup-chat:hover {
    color: #fff;
    background-color: #0096c7;
  }

  .main-menu-khoa .sign .user-info .friend-list-name {
    display: none;
  }

  .main-item-khoa .details-info .details-name,.main-item-khoa .details-singer{
      font-size: 13px;
  }
}
