.welcome-khoa {
  font-family: Consolas, sans-serif;
  background: #90e0ef;
  background: linear-gradient(110deg, #0096c7 50%, #90e0ef 0);
  text-align: center;
}

.welcome-khoa .welcome-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 50px;
}

.welcome-khoa .welcome-row .welcome-row-item {
  flex: 1;
  padding: 50px;
  margin: 50px;
}

.welcome-khoa .welcome-row .welcome-row-img .head-phone-img {
  transform: rotate(350deg);
  object-fit: contain;
  width: 60%;
}

.welcome-khoa .welcome-row .welcome-row-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #d55d92;
  font-size: 30px;
}

.welcome-khoa .welcome-row .welcome-row-text > p {
  color: #5a189a;
  font-size: smaller;
}

.welcome-khoa .welcome-row .welcome-row-text .btn {
  font-family: Consolas, sans-serif;
  letter-spacing: 2px;
  border: none;
  background-color: #0096c7;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
}

.welcome-khoa .welcome-row .welcome-row-text .btn:hover {
  box-shadow: 0 0 10px #d55d92;
}
h1 {
  font-size: 4rem;
}

h5 {
  color: white;
}

.typing {
  color: #25a244;
}

@media (max-width: 790px) {
  .welcome-khoa .welcome-row .welcome-row-img .head-phone-img {
    width: 160%;
  }

  .welcome-khoa .welcome-row .welcome-row-text {
    width: 250px;
    font-size: 20px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .welcome-khoa .welcome-row .welcome-row-text .btn {
    padding: 5px 50px;
    color: white;
  }

  .typing{
    height: 50px;
    width: 150px;
  }
}
